
    <%= form_for(:session, :url => sessions_path) do |f| %>
	   <p class="title">MEMBER LOGIN</p>
	   <table  cellspacing="2px" cellpadding="3px">
	     <tr>
	       <td class="right">IC/FIN/PASSPORT NO:</td>
	       <td><%= f.text_field :mbr_id %></td>
	     </tr>
	     <tr>
	       <td class="right">PASSWORD:<br  /><a href="#" class="login-font">Forget your password?</a></td>
	       <td><%= f.password_field :password %></td>
	     </tr>
	     <tr>
	       <td> <section style="font-size: 12px; color: red;">
		        <% flash.each do |key, value| %>
		        <div class="flash <%= key %>"><%= value %></div>
		        <% end %>
		        <%= yield %>
	            </section>
	       </td>
	       <td style="font-size: 12px;"><%= check_box_tag 'remember'%>Remember me?</td>
	     </tr>
	     <tr>
	       <td colspan="2" class="right"><%= image_submit_tag "loginbutton.png" %></td>
	     </tr>
	   </table>
	       <p style="position: absolute; left:350px; top: 465px; color: white;" class="login-font">Are you a member? If not,&nbsp;<%= link_to "SIGN UP", signup_path %></p>
	   
	     <div class="footer">
	      <p>@ 2011 Challenger Technologies Limited. All Rights Reserved | <a href="#">Privacy & Security Policy</a></p>
	     </div>
	 <% end %>
