<div id="content" style="background-color:#DFDFDF;">
    <h2 style="background-color:#2A5388; width:657px; height:35px;">Redemption Reservation</h2>
      <div class="rrrcontent">
      	<div style="padding:0 5px;"><%= image_tag "Advertisement/cp1.jpg", :style=>"float:left; height:160px; width:150px; margin-right:10px;" %>
          <p>
           <b>Item:</b>
           <%= @redemption.item_desc %><br />
          </p>

          <p>
           <b>From:</b>
           <%= @redemption.eff_from %><br />
          </p>

          <p>
           <b>To:</b>
           <%= @redemption.eff_to %><br />
          </p>
          <b>Quantity Ordered:</b>
          <%=@quantity%><br />
          
        </div>

<h4 style="background-color:#F2F2F2; width:635px; height:20px; margin:2px 5px; position:absolute; left:5px; top:220px;">Please select store to collect from</h4>

<%= form_for([@redemption, @redemption.crm_redemption_reservations.build]) do |f| %>
   <div style="overflow:auto; width:650px; height:150px; position:absolute; top:5px;">
     <table width="623" cellspacing="1">
       <tr style="background-color:#F8A23A;">
         <th scope="col">&nbsp;</th>
         <th scope="col">Store</th>
         <th scope="col">Location</th>
       </tr>  
	<% if @locations.count >0%>  
	  <% @locations.each do |location| %>
	     <% if location.qty_on_hand > @quantity.to_f %>
	     <tr>
          <td><%= radio_button_tag(:location, location.loc_id) %><br /></td>
          <td>Ang Mo Kio Hub</td>
          <td><%= location.loc_id%><br /></td>
         </tr>   
	     <% end %>            
	  <% end %> 
	  <%= hidden_field_tag(:quantity, @quantity) %>	
	<% end %>  
   </table>
  </div>
   
  <div style="position:absolute; top:160px; left:550px;">
   	 <%= image_submit_tag "reservebtn.png" %>
  </div>

<% end %>


  <h4 style="background-color:#F2F2F2; width:635px; height:20px; margin:2px 5px; position:absolute; left:5px; top:440px;">Terms & Conditions</h4>
  
  </div>
<!-- end .content --></div> 
