  <div id="content">
    <div class="slider-wrap">
                <div id="movers-row">
                   <div><a href="#1" class="cross-link"><%= image_tag "Advertisement/1thumb.jpg", :class=>"nav-thumb" %></a></div>
			       <div><a href="#2" class="cross-link"><%= image_tag "Advertisement/2.jpg", :class=>"nav-thumb" %></a></div>
			       <div><a href="#3" class="cross-link"><%= image_tag "Advertisement/3thumb.jpg", :class=>"nav-thumb" %></a></div>
			       <div><a href="#4" class="cross-link"><%= image_tag "Advertisement/4thumb.jpg", :class=>"nav-thumb" %></a></div>
			       <div><a href="#5" class="cross-link"><%= image_tag "Advertisement/5thumb.jpg", :class=>"nav-thumb" %></a></div>
			       <div><a href="#6" class="cross-link"><%= image_tag "Advertisement/6thumb.jpg", :class=>"nav-thumb" %></a></div>
		        </div>
		
        
        <div id="main-photo-slider" class="stripViewer">
			<div class="panelContainer">
            
               
                <div class="panel" title="Panel 1">
					<div class="wrapper">
						<%= image_tag "Advertisement/1.jpg", :class=>"wrap-img" %>
						<div class="photo-meta-data">
							 <br />
							<span></span>
						</div>
					</div>
				</div>
				<div class="panel" title="Panel 2">
					<div class="wrapper">
						<%= image_tag "Advertisement/2.jpg", :class=>"wrap-img" %>
					</div>
				</div>		
				<div class="panel" title="Panel 3">
					<div class="wrapper">
						
						<%= image_tag "Advertisement/3.jpg", :class=>"wrap-img" %>
						
					
					</div>
				</div>
				<div class="panel" title="Panel 4">
					<div class="wrapper">
						<%= image_tag "Advertisement/4.jpg", :class=>"wrap-img" %>
					</div>
				</div>
				<div class="panel" title="Panel 5">
					<div class="wrapper">
						<%= image_tag "Advertisement/5.jpg", :class=>"wrap-img" %>
                        <div class="photo-meta-data">
                            Our new star voucher<br />
                            <span>The members can get a S$30 voucher</span>
                        </div>
					</div>
				</div>
				<div class="panel" title="Panel 6">
					<div class="wrapper">
						<%= image_tag "Advertisement/6.jpg", :class=>"wrap-img" %> 
					</div>
				</div>

			</div>
		</div>
 
		

	</div>
<!-- end .content --></div>
    
 
  
 
