<% type=@type%> 

<table>
<%= form_for(:crm_member_transactions, :url=>transaction_path(:type=>type, :load=>1)) do |f| %>
  From:<%=date_select "start","date",:start_year=>1960 %>      
  To  :<%=date_select "till","date",:start_year=>1960 %>     
  <%= f.submit "Filter" %>
<% end%>
</table><br />

<table>
<% if type=="1" %>	
  <% points=0 %>
  <% @transactions.each do |transaction| %>
  <% points += transaction.trans_points %> 
  <% end %>
  GRAND TOTAL POINTS:<%= points %>   
<% elsif type=="2" %>
  <% points=0 %>
  <% discount=0 %>
  <% purchase=0 %>
  <% @transactions.each do |transaction| %>
  <% discount += transaction.disc_amount %> 
  <% purchase += transaction.unit_price %> 
  <% end %>
  GRAND TOTAL MEMBER SAVINGS:<%= discount %> <br />
  GRAND TOTAL PURCHASED:<%= purchase %>
  
  <% if current_user.mbr_savings <= 40 %>
    <%= link_to "CHECK REBATE", rebate_path%>
  <% end %>
<% end %>  

<tr>
    <th style="width:10px">No.</th>
    <th style="width:10px">Date</th>
    <th style="width:10px">Item</th>
    <th style="width:10px">Description</th>
    <th style="width:10px">Location</th>
    <th style="width:10px">Quantity</th>
    <th style="width:10px">Points</th>
</tr>
<% @transactions.each do |transaction| %>
<tr>
    <td><%= transaction.trans_id%></td>
    <td><%= transaction.trans_date.to_date %></td>
    <td><%= transaction.item_id %></td>
    <td><%= transaction.item_desc %></td>
    <td><%= transaction.loc_id %></td>
    <td><%= transaction.item_qty %></td>
    <td><%= transaction.trans_points %></td>    
</tr>
<% end %>
</table>